langchain==1.4.1
langchain-openai==1.6.2
langgraph==1.2.11
langchain-pinecone==0.2.13
pinecone==7.3.0
langsmith==0.12.6
rank-bm25==0.2.2
python-dotenv==1.2.3
langchain-community==0.4.2
langchain-core==1.6.3
streamlit==1.64.0
langchain-nvidia-ai-endpoints==1.4.3